@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@600&family=Roboto:wght@400;700&display=swap");
*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  text-align: center;
  color: #fff;
  background: #000000;
}

*::-moz-selection {
  background: #0800f2;
  color: #ffffff;
}

*::selection {
  background: #0800f2;
  color: #ffffff;
}

img {
  -o-object-fit: contain;
     object-fit: contain;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  background-color: #151515;
  border-radius: 8px;
  padding: 22px 72px;
  border: 0;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.link-line {
  padding-bottom: 5px;
  position: relative;
  text-decoration: none;
  color: #fff;
}

.link-line::before {
  content: '';
  position: absolute;
  width: 0%;
  right: 0;
  bottom: 0;
  height: 2px;
  background-color: #ffffff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.link-line:hover::before {
  width: 100%;
  left: 0;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0px 150px;
}

.wrap {
  height: 100vh;
  position: relative;
}

.wrap::after {
  content: "";
  z-index: -1;
  position: absolute;
  background-image: url("../image/content/cover.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  top: 0;
  bottom: 1;
  right: 0;
  left: 0;
  height: 100vh;
  width: 100%;
}

.header__modal {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  background-color: #6b0000;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
  -webkit-box-shadow: 1px 0px 20px black;
          box-shadow: 1px 0px 20px black;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header__modal.header__modal--close {
  -webkit-transform: translateX(1000%);
          transform: translateX(1000%);
}

.modal__menu {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  font-size: 20px;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal__item {
  margin-bottom: 40px;
  margin-right: 20px;
}

.modal__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__social-item:not(:last-child) {
  margin-right: 20px;
}

.modal_menu-close {
  position: absolute;
  left: 0;
  background: transparent;
  padding: 0;
}

.header__wrap {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 65px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  margin-right: 40px;
}

.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav-item:not(:last-child) {
  margin-right: 24px;
}

.header__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__social-item:not(:last-child) {
  margin-right: 20px;
}

.header__menu-btn {
  padding: 0;
  background: transparent;
}

.film__wrap {
  margin-top: 100px;
  position: relative;
}

.film__wrap::after {
  position: absolute;
  content: '';
  background: url("../image/play-btn.png");
  width: 100%;
  top: 0;
  right: 1;
  z-index: 2;
}

.film__info {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}

.film__reit {
  margin-top: 16px;
}

.film__btn-star:not(:last-child) {
  margin-right: 5px;
  padding: 5px;
  background-color: transparent;
}

.film__btn-star {
  padding: 0;
}

.film__btn-star:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.film__title {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  margin: 10px 0 8px 0;
  font-size: 76px;
  line-height: 91px;
}

.film__text {
  max-width: 614px;
  margin-bottom: 40px;
}

.film__btn {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  max-width: 245px;
}

.film__slider {
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  margin-top: 100px;
}

/* Слайдер */
.slick-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 0;
}

/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Конкретный слайдер */
.slider {
  position: relative;
  max-width: 50%;
}

.slider__item {
  text-align: left;
}

.footer__wrap {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #686767;
  padding: 20px 0;
}

@media screen and (min-width: 700px) {
  .header__menu-btn {
    display: none;
  }
  .header__modal {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .container {
    padding: 0 20px;
  }
}

@media screen and (max-width: 700px) {
  .header__nav {
    display: none;
  }
  .header__social-list {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */